/vendor
/node_modules
/public/storage
/public/js
/public/css
/public/build
/nbproject
Homestead.yaml
Homestead.json
.env
.idea
npm-debug.log
/resources/assets/angular/aot
/resources/assets/angular/ngfactory
.phpstorm.meta.php
_ide_helper.php
public/home.aot.bundle.js
public/home.aot.bundle.js.map
public/home.bundle.js
public/home.bundle.js.map
public/polyfill.bundle.js
public/polyfill.bundle.js.map
.resources/
